@charset "utf-8";
/* CSS Document */
body {
	background-image:url(../images/brickwall_@2X.png);
	background-repeat:repeat;
	background-position:top left;
}
.container {
    max-width: 960px;
}
.vSlider .bx-wrapper .bx-viewport, .mainThumSlider .bx-wrapper .bx-viewport{
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    left: 0px;
    background-color: transparent;
}
.vSlider .bx-wrapper .bx-viewport .verticalSlider{
	padding: 0px;
}
.socialicon{
	position: fixed;
	top: 200px;
	left: 10px;
	width: 100px;
	height: 100px;
	border-radius: 100%;
	background-color: #ddd;
	text-align: center;
	cursor:pointer;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.socialicon-text{
	position: fixed;
	top: 80px;
	left: 10px;
	width: 100px;
	height: 100px;
	border-radius: 100%;
	background-color: #6475AB;
	text-align: center;
	cursor:pointer;
	color: #fff;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(74,74,74,1);
-moz-box-shadow: 0px 0px 5px 0px rgba(74,74,74,1);
box-shadow: 0px 0px 5px 0px rgba(74,74,74,1);
}
.socialicon-text h1{
	font-size:16px;
	margin-bottom: 5px;
    margin-top: 30px;
}
.socialicon-text h2{
	font-size:14px;
	margin-top: 5px;
}
.socialicon img{
	margin-top: 25px;
}
.socialicon p{
	font-family: 'Indie Flower', cursive; 
	font-size: 21px; 
	font-weight: bold;
	text-shadow: 2px 2px 2px rgba(186, 186, 186, 1);
}
.socialFacebook{
	width: 100px;
	height: 100px;
	background-image: url(../images/social@2x_01.png);
	background-position: center;
	background-repeat: no-repeat;
	transition:all 1s ease;
	margin-left:auto;
	margin-right:auto;
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
}
.socialFacebook:hover{
	width: 100px;
	height: 100px;
	background-image: url(../images/social@2x_01_hover.png);
	background-position: center;
	background-repeat: no-repeat;
	margin-left:auto;
	margin-right:auto;
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
}




/*******************************************
default margin & pading css
********************************************/
.m-a-0 { margin:        0 !important; }
.m-t-0 { margin-top:    0 !important; }
.m-r-0 { margin-right:  0 !important; }
.m-b-0 { margin-bottom: 0 !important; }
.m-l-0 { margin-left:   0 !important; }
.m-x-0 { margin-right:  0 !important; margin-left:   0 !important; }
.m-y-0 { margin-top:    0 !important; margin-bottom: 0 !important; }

.m-a { margin:        10px !important; }
.m-t { margin-top:    10px !important; }
.m-r { margin-right:  10px !important; }
.m-b { margin-bottom: 10px !important; }
.m-l { margin-left:   10px !important; }
.m-x { margin-right:  10px !important; margin-left: 10px !important; }
.m-y { margin-top:    10px !important; margin-bottom: 10px !important; }
.m-x-auto { margin-right: auto !important; margin-left: auto !important; }

.m-a-xs { margin:        5px !important; }
.m-t-xs { margin-top:    5px !important; }
.m-r-xs { margin-right:  5px !important; }
.m-b-xs { margin-bottom: 5px !important; }
.m-l-xs { margin-left:   5px !important; }
.m-x-xs { margin-right:  5px !important; margin-left:   5px !important; }
.m-y-xs { margin-top:    5px !important; margin-bottom: 5px !important; }

.m-a-md { margin:        15px !important; }
.m-t-md { margin-top:    15px !important; }
.m-r-md { margin-right:  15px !important; }
.m-b-md { margin-bottom: 15px !important; }
.m-l-md { margin-left:   15px !important; }
.m-x-md { margin-right:  15px !important; margin-left:   15px !important; }
.m-y-md { margin-top:    15px !important; margin-bottom: 15px !important; }

.m-a-lg { margin:        20px !important; }
.m-t-lg { margin-top:    20px !important; }
.m-r-lg { margin-right:  20px !important; }
.m-b-lg { margin-bottom: 20px !important; }
.m-l-lg { margin-left:   20px !important; }
.m-x-lg { margin-right:  20px !important; margin-left:   20px !important; }
.m-y-lg { margin-top:    20px !important; margin-bottom: 20px !important; }

.p-a-0 { padding:        0 !important; }
.p-t-0 { padding-top:    0 !important; }
.p-r-0 { padding-right:  0 !important; }
.p-b-0 { padding-bottom: 0 !important; }
.p-l-0 { padding-left:   0 !important; }
.p-x-0 { padding-left:   0 !important; padding-right: 0 !important; }
.p-y-0 { padding-top:    0 !important; padding-bottom: 0 !important; }

.p-a { padding:        10px !important; }
.p-t { padding-top:    10px !important; }
.p-r { padding-right:  10px !important; }
.p-b { padding-bottom: 10px !important; }
.p-l { padding-left:   10px !important; }
.p-x { padding-right:  10px !important; padding-left:   10px !important; }
.p-y { padding-top:    10px !important; padding-bottom: 10px !important; }

.p-a-xs { padding:        5px !important; }
.p-t-xs { padding-top:    5px !important; }
.p-r-xs { padding-right:  5px !important; }
.p-b-xs { padding-bottom: 5px !important; }
.p-l-xs { padding-left:   5px !important; }
.p-x-xs { padding-right:  5px !important; padding-left:   5px !important; }
.p-y-xs { padding-top:    5px !important; padding-bottom: 5px !important; }

.p-a-md { padding:        15px !important; }
.p-t-md { padding-top:    15px !important; }
.p-r-md { padding-right:  15px !important; }
.p-b-md { padding-bottom: 15px !important; }
.p-l-md { padding-left:   15px !important; }
.p-x-md { padding-right:  15px !important; padding-left:   15px !important; }
.p-y-md { padding-top:    15px !important; padding-bottom: 15px !important; }

.p-a-lg { padding:        20px !important; }
.p-t-lg { padding-top:    20px !important; }
.p-r-lg { padding-right:  20px !important; }
.p-b-lg { padding-bottom: 20px !important; }
.p-l-lg { padding-left:   20px !important; }
.p-x-lg { padding-right:  20px !important; padding-left:   20px !important; }
.p-y-lg { padding-top:    20px !important; padding-bottom: 20px !important; }
/*******************************************
default margin & pading css
********************************************/


